.social-icons {
    li {
        .zalo {
            background: url('../images/zalo.svg') no-repeat center center;
            background-size: contain;
            border-radius: 2px;
        }
    }
}
